<!-- begin index 'audit' -->
<% javascript 'show_record' %>
<h3 class="labelPageTitle"><dfn>Audit Records</dfn></h3>

<div class="filterAuditRecordBox">
  <% form_tag('/audit/show_filter/1', :method=>:put) do %>
    <fieldset class="filterAuditCaption">
      <legend>Filter Audit Records</legend>

      <div class="filterAuditInputField">
        <label for="user_id">User id:</label>
          <%= text_field_tag :user_id, params[:user_id], :size => 10 %>
      </div>

      <div id="filterAuditSubmit">
        <%= submit_tag "Show Filtered Records" %>
      </div>
    </fieldset>
  <% end %>
</div>

<%= render :partial => "audit" %>
