<h1>Editing editransaction</h1>

<% form_for(@editransaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @editransaction %> |
<%= link_to 'Back', editransactions_path %>