/*  Default styles
*   Date: 01/05/2010
*
*/

/*  Block level tags
*   Date: 01/05/2010
*
*   Reset:
*     () margin
*     () padding
*/

	  * { /* Global Reset */
    padding: 0; 
    margin: 0; 
  }

  h1, h2, h3, h4, h5, h6, a {
    line-height: 150%;
    text-align: left;
  }

  h1 { font-size:   3em; }
  h2 { font-size: 2.5em; }
  h3 { font-size:   2em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.4em; }
  h6 { font-size: 1.3em; }

  option {
    padding: 0 5px;
  }

  p { 
    font-size: 1em;
    line-height: 120%;
    margin: 10px 0;
  }

  .checkBox {
    margin-right: 5px;
  }

  .indent {
    margin-left: 10px;
  }

  a         { color: #758AB8; text-decoration: none; }
  a:link    { color: #758AB8; text-decoration: underline; }
  a:visited { color: #758AB8; text-decoration: underline; }
  a:hover   { color: #262262; text-decoration: underline; }
  a:active  { color: #262262; }

  .twoColHybLay #form div p {
    line-height: 130%;
    margin: 0;
  }
  .fLeft {
    float: left;
  }
  .mR20 {
    margin-right: 20px;
  }
  .mB8 {
    margin-bottom: 8px;
  }
.twoColHybLay  .formInput {
    float: left;
    margin: 0 20px 8px 0;
  }

/* AutoComplete rules
*   
*  Notes: IE position works with !important, but scrolling ul list is fragile
*/
.twoColHybLay div.auto_complete {
  border: inset 2px #ECF0F9;
  left: 0px !important;
  overflow-y: auto;
  position: relative !important;
  top: 5px !important;
  z-index: 1000;
}
.twoColHybLay div.auto_complete ul {
  height: 100%;
  max-height: 8em;
}
.twoColHybLay div.auto_complete ul li.selected { background-color: #C4D1EB;}
.twoColHybLay div.auto_complete ul li {
  cursor: pointer;
  list-style-type: none;
  line-height: 120%;
}

/* Error rules
*   
*  Notes: For all forms
*/
.twoColHybLay .fieldWithErrors {
  margin: 0;
  padding: 0;
}

.twoColHybLay .fieldWithErrors input, .fieldWithErrors select {
  border: 2px solid red;
}
.twoColHybLay #errorExplanation {
  background-color: #E2E3E4;
  clear: both;
  float: left;
  margin: 0 0 8px 0;
}
.twoColHybLay #errorExplanation h2 {
  background-color: #ED1C24;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 0 5px;
}
.twoColHybLay #errorExplanation p {
  font-size: 120%;
  margin: 5px 0 5px 10px;
}
.twoColHybLay #errorExplanation ul li {
  font-size: 100%;
  margin: 0 0 2px 30px;
}
