/* Style sheet for Patient Profile

     Filename: emd.css

     Need to re-factor 11/17/09
     (1) New wire frame
     (2) Add global reset for browser compatibility
     (3) Rename class and id's in views

*/


/* The wire frame layout */
body {
   background-image: url(form-background.png);
}

#main-wrapper, #main-form, #main-footer, #footer-logo, #footer-copyright, #form-buttons {
    background-color: #ECF0F9;
}

#main-header, .main-sectionTitle, .form-subButton1, .form-subButton2 {
    background-color: #758AB8;
    color: white;
}
 
/* emd */ 
#main-wrapper {
    width: 100%;
    position: relative;
    clear: right;
    float: right;
    padding: 0;
    font-family: Verdana;
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    border: solid .1em black;
}

/* proficientMD 
#main-wrapper {
    width: 52em;
    position: relative;
    left: 50%;
    margin-left: -26em;
    margin-top: 0em;
    padding: 0;
    font-family: Verdana;
    color: #262262;
    font-weight: bold;
    font-size: 1em;
    border: solid .1em black;
}
*/


#main-header {
    width: 99.5%;
    height: 1em;
    border: outset .15em #C4D1E3;
    font-size: 140%;
    text-align: center;
    /* 0918 rmh added */
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: #C4D1E3;
    color: #262262;
}

#main-form {
    width: 90%;
    margin: 0 auto;
}

#main-footer {
    width: 100%;
    clear: both;
    height: 2.7em;
}

#footer-logo {
    width: 11.8em;
    height: 100%;
    position: relative;
    clear: left;
    float: left;
    margin-left: .8em;
}

#footer-copyright {
    width: 100%;
    height: 1.5em;
    clear: both;
    margin-top: -1.6em;
    font-size: 80%;
    text-align: center;
}

#form-buttons {
    width: 100%;
    position: relative;
    clear:both;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 300%;
}

.form-radioButtons { 
    clear: left;
    float: left;
    margin: .2em .2em .2em 13.5em;
    font-size: 80%;
    color: #262262;
}

.form-subButton1, .form-subButton2 {
    width: auto;
    position: relative; 
    float: right; 
    background-color: #E2E3E4;
    color: #231F20;
}

.form-subButton2 {
    margin-right: 1.8em;
}

.form-label, .form-phoneLabel, .form-phoneLabel1 {
    width: auto;
    position: relative;
    clear: left;
    float: left; 
    display: inline;
    margin: .3em .5em .3em 0em;
    line-height: normal;
    font-weight: bold;
    text-align: right;
    font-size: 80%;
    width: 13em;
    color: #262262;
}

.form-phoneLabel {
    width: 22em;
}

.main-sectionTitle {
    width: 36%;
    position: relative;
    clear: both;
    float: left;
    display: block;
    margin-top: 1em;
    margin-bottom: .6em;
    padding-left: .5em;
    line-height: normal;
    border: outset .2em #7895BC;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
}

.form-inputText, .form-inputText1 {
    float: left;
    width: auto;
    max-width: 28em;
    margin: .3em 0em .3em 0em;
    padding-left: .2em;
    color: #231F20;
    background-color: #FFFEF0;
    border: inset .1em #FFFEF0;
    font-family: Verdana;
    font-size: 75%;
}

.form-inputText1 {
    padding-top: .1em;
    border: #ECF0F9;
    background-color: #ECF0F9;
}


#patient_profile_physician_id,
#patient_profile_gender,
#patient_profile_city_auto_complete,
#patient_profile_state_province, 
#patient_profile_ethnicity,
#patient_profile_date_of_birth_1i, 
#patient_profile_date_of_birth_2i, 
#patient_profile_date_of_birth_3i  {

    float: left;
    width: auto;
    margin: .25em .2em .25em 0em;
    background-color: #FFFEF0;
    font-family: Verdana;
    font-size: 75%;
}

#patient_profile_gender_f,
#patient_profile_gender_m {
    display: inline;
}

#patient_profile_city_auto_complete {
    margin-left: -.1em;
    z-index:1;
}

/* Error style */

.fieldWithErrors {
  float: left;
  width: auto;
  margin: .2em 0em .2em 0em;
  padding: 0em .2em;
  background-color: #ED1C24;
}

#errorExplanation {
    width: 100%;
    height: auto;
    position: relative;
    clear:both;
    float:left;
    margin-bottom: 1em;
    border: .1em solid #ED1C24;
    background-color: #E2E3E4;
    font-size: 80%;
    z-index: 1;
}

#errorExplanation h2 {
    margin: -.1em;
    padding-left: 1em;
    text-align: left;
    background-color: #ED1C24;
    font-size: 120%;
    font-weight: bold;
    color: #FFFFFF;
}

#errorExplanation p {
    margin-bottom: -.5em;
    padding-left: 1em;
    font-size: 90%;
}

/* Index style */

#index-body {
    background-color: #ECF0F9;
    font-family: Verdana;
    font-size: 1.7em;
}

#index-title {
    background-color: #C4D1EB;
    border: outset .1em #C4D1EB;
    font-size: 120%;
    font-weight: bold;
    color: #262262
}

#index-newButton {
    color: green; 
    font-weight: bold;
    font-size: 120%;
}

.index-th, .index-td {
    width: 10em;
    text-align: left;
}

.index-th {
    font-size: 90%;
    text-decoration: underline;
}

.index-td {
    font-size: 80%;
    color: black;
}

/* New AutoComplete */

div.auto_complete {
  position: absolute;
  width: auto;
  border: inset .23em #ECF0F9;

}

div.auto_complete ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.auto_complete ul li.selected { background-color: #C4D1EB;}

div.auto_complete ul li {
  height: auto;
  display: block;
  background-color: #FFFEF0;
  list-style-type: none;
  margin-left: .4em;
  font-size: 90%;
  cursor: pointer;
}


/* End of old pmdstyle.css  */

/*div { border: 0 px solid red !important; }  */

body { background-color: #fff; color: #262262; }

body, p, ol, ul, td {
  font-family: verdana, tahoma, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  background-color: #000;
  padding: 10px;
  font-size: 11px;
}

#side a:hover { color: #FFF }

/* Styles for main page */
#banner {
  background: #C4D1EB;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #262262;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #C4D1EB;
}

#main {
/* rolland */
  float:right;
  width: 89%;
  color: #262262;
  padding-left: .1em;
  padding-top:  .1em;
  background-color: #C4D1EB;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 10%;
  background: #C4D1EB;
  height: 70em;
}
/* Rolland
#side a {
  color: #7895BC;
  font-size: small;
}
*/
#record a, #record p {
  font-weight: bold;
  color: #758AB8;
  font-size: small;
}

#record p {
  color: #262262;
  font-size: 14px;
}

/* Flash box for image and notice */
.noticeBox {
  position: relative;
  margin-top: .3em;
  background-color: #C4D1EB;
}

#notice {
  display: inline;
  position: absolute;
  top: .8em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: verdana;
  color: green;
}

/* Styles for partial in the sidebar (aka my_record) */
#record, #record table {
  font-size: smaller;
  font-weight: bold;
  color: #262262;
  height: 30px;
}

#my_record {
  width: auto;
  height: auto;
}

#record table {
  padding: 5px 5px 5px 15px;
  border-collapse:separate;
  border-spacing:5px 10px;
  border-top: 1px dotted #595 ;
  border-bottom: 1px dotted #595 ;
  margin-bottom: 5px;
}

#main table th {
}

thead {
  font: bold large verdana;
}

/* Table X3 class */ 
.X3 { 
  border-spacing: .8em .1em;
  border: inset .1em #FFFEF0;
  background-color: #ECF0F9;
  font: 1em verdana; 
  text-align: left;
}

.X3 tbody th {
  color: #262262;
  font-size: 12px;
  text-decoration: underline;
}

.X3 tbody td {
/* Rolland
  font-size: 12px;
  font-weight: lighter;
  line-height: 5px;
*/
  font: 12px/5px lighter;
}

#record table tbody tr td a { 
  font-weight: bold; 
  color: #758AB8;
}

#record table tbody tr td a:hover {
    color: #262262;
}

.record-title {
   font: bold medium verdana;
}

.record-name {
   font: 120% bold;
}

.item-price, .total-line {
   text-align: right;
}

.item-count, .total-line {
   text-align: right;
}

.total-line .total-cell {
   font-weight: bold;
   border-top: 1px solid #595;
}
   
/* An entry in the my_record list */
#my_record .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d ;
}

#my_record .title {
  font-size: 120%;
  font-family: sans-serif;
}

#my_record .entry img {
  width: 75px;
  float: left;
}

#my_record .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227 ;
}

#my_record .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

#my_record .entry .price-line {
  clear: both;
}

#my_record .entry .add-to-cart {
   position: relative;
}

/* For <%= debug @object %> */
.debug_dump{
  background-color: yellow;
  color: black;
}

#user_nav {
  position: relative;
  width: 100%;
  text-align: right;
  clear: both;
  float: left;
  font-size: 12px;
/*
  background-color: #758AB8;
*/
 background-color: #C4D1EB;
}

body {
  background-color: #C4D1EB;
}

#user_nav a {
  font-weight: bold;
  color: #758AB8;
}

#user_nav a:hover { color: white; }

#mainScrollableWindow {
  max-height: 40em;
  overflow: scroll;
  margin-top: 20px;
}

#mainScrollableWindow th {
  border: 1px solid #C4D1EB;
  background-color: #C4D1EB;
  color: #262262;
}
