/* Global development classes */
.opaque100, .opaque90, .opaque80, .opaque70 {
/*  background: white url("../images/sunset-sailing.jpg");*/
/*  background: white url("../images/background.jpg");*/
  background: no-repeat;
}
.opaque100 {
	-ms-filter: "alpha(opacity=100)";
  opacity: 1.0;
}
.opaque90 {
	-ms-filter: "alpha(opacity=90)";
  opacity: 0.9;
}
.opaque85 {
	-ms-filter: "alpha(opacity=85)";
  opacity: 0.85;
}
.opaque80 {
	-ms-filter: "alpha(opacity=80)";
  opacity: 0.8;
}
.opaque75 {
	-ms-filter: "alpha(opacity=75)";
  opacity: 0.75;
}
.opaque70 {
	-ms-filter: "alpha(opacity=70)";
  opacity: 0.7;
}
.clearBoth {
  clear: both;
}
