/*  Styles
*   Date: 01/05/2010
*
*  Best practice 
*    () Use semantic names
*/

/* AutoComplete rules
*   
*  Notes: IE position works with !important, but scrolling ul list is fragile
*/
.twoColFixLay div.auto_complete {
  border: inset .23em #ECF0F9;
  left: 0px !important;
  overflow-y: auto;
  top: 5px !important;
  position:relative !important;
  z-index: 100;
}
.twoColFixLay div.auto_complete ul {
  height: 100%;
  max-height: 100px;
}
.twoColFixLay div.auto_complete ul li.selected { background-color: #C4D1EB;}
.twoColFixLay div.auto_complete ul li {
  background-color: #FFFEF0;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  height: auto;
  list-style-type: none;
  line-height: 1.3em;
}

/* Error rules
*   
*  Notes: For all forms
*/
.twoColFixLay .fieldWithErrors {
  margin: 0;
  padding: 0;
  display: inline;
}
.twoColFixLay .fieldWithErrors label { 
  float: left; 
}
.twoColFixLay .fieldWithErrors input, .fieldWithErrors select {
  border: 2px solid red;
}
.twoColFixLay .formLayout10 p {
  clear: both;
  display: block;
}
.twoColFixLay #errorExplanation {
  background-color: #E2E3E4;
  clear: both;
  float: left;
  margin: 1em 0;
}
.twoColFixLay #errorExplanation h2 {
  background-color: #ED1C24;
  color: #FFFFFF;
  font-size: 150%;
  font-weight: bold;
  padding: 0 5px;
}
.twoColFixLay #errorExplanation p {
  font-size: 120%;
  font-weight: bold;
  margin: 5px 0 5px 10px;
}
.twoColFixLay #errorExplanation ul li {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 2px 30px;
}

/* Form rules
*   
*  Notes: For all forms
*/
.twoColFixLay div.formLayout,   .twoColFixLay div.formLayout p, 
.twoColFixLay div.formLayout10, .twoColFixLay div.formLayout10 p,
.twoColFixLay div.formLayout15, .twoColFixLay div.formLayout15 p,
.twoColFixLay div.formLayout20, .twoColFixLay div.formLayout20 p {
  clear: both;
}
.twoColFixLay div.formLayout {
  margin-left: 0px;
}
.twoColFixLay div.formLayout5 {
  margin-left: 5px;
}
.twoColFixLay div.formLayout10 {
  margin-left: 10px;
}
.twoColFixLay div.formLayout15 {
  margin-left: 15px;
}
.twoColFixLay div.formLayout20 {
  margin-left: 20px;
}
.twoColFixLay input, select {
  border: 1px inset #C4D1EB;
}
.twoColFixLay div.formInput, .twoColFixLay div.formInputNext,
.twoColFixLay div.formInput0 {
  float: left;
  margin: 5px 0 5px 10px;
  position: relative;
}
.twoColFixLay div.formInput {
  clear: left;
}
.twoColFixLay div.formInput0 {
  clear: left;
  margin-left: 0px;
}
.twoColFixLay div.formInputNext {
  display: inline;
}
.twoColFixLay div.formButton {
  clear: both;
  float: left;
  margin: 15px 0 15px 10px;
}
.twoColFixLay div.formLabel, .twoColFixLay div.formLabel1, .twoColFixLay div.formData {
  float: left;
  font-size: 1.1em;
  position: relative;
}
.twoColFixLay div.formLabel {
  clear: left;
  font-weight: bold;
  height: 20px;
  text-align: right;
  width: 130px;
}
.twoColFixLay div.formLabel1 {
  font-size: 1.2em;
}
.twoColFixLay div.formData {
  margin-left: 8px;
  overflow: auto;
  width: 600px;
}
/* Only new patient profile */
.twoColFixLay div.formTitle, .twoColFixLay div.formTitle1 {
  clear: left;
  font-size: 1.1em;
  font-weight: bold;
}
.twoColFixLay div.formTitle {
  text-indent: 58px;
}
.twoColFixLay div.formTitle1 {
  text-indent: 74px;
}
.twoColFixLay div.formTitleInput {
  display: inline;
  margin-left: 8px;
}
.twoColFixLay div.formTitleInput input {
  background-color: #E9EAEB;
}
  
/* Radio Button */
.twoColFixLay #patient_profile_gender_m, .twoColFixLay #patient_profile_gender_f {
  border: 1px solid #C4D1EB;
}
/* Submit Buttons */
.twoColFixLay #patient_condition_submit, .twoColFixLay #condition_submit, .twoColFixLay #patient_profile_submit,
.twoColFixLay #editransaction_submit, .twoColFixLay #user_submit, .twoColFixLay #user_session_submit { 
  background-color: #C4D1EB;
  border: 1px outset #C4D1EB;
  color: #262262;
  padding: 0px 1px;
}

/* Label rules
*   
*  Notes: For all views
*/
.twoColFixLay .labelPageTitle {
  border-bottom: 2px solid #262262;
  clear: both;
  float: left;
  font-weight: lighter;
  height: 30px; 
  margin: 0 0 20px 0;
  padding: 0px 0px 10px 0px;
  width: 100%;
}

/* navLink rules
*   
*  Notes: Format for navigation links at bottom of pages
*/
.twoColFixLay div .navLink  {
  clear: both;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 0 0;
}
.twoColFixLay div .navLink a:hover {
  color: #758AB8;
}
