/*  Styles
*   Date: 01/05/2010
*
*  Best practice 
*    () Use semantic names
*/

/* AutoComplete rules
*   
*  Notes: IE position works with !important, but scrolling ul list is fragile
*/
/*
.twoColHybLay div.auto_complete {
  border: inset .23em #ECF0F9;
  left: 0px !important;
  overflow-y: auto;
  top: 5px !important;
  position:relative !important;
  z-index: 100;
}
.twoColHybLay div.auto_complete ul {
  height: 100%;
  max-height: 100px;
}
.twoColHybLay div.auto_complete ul li.selected { background-color: #C4D1EB;}
.twoColHybLay div.auto_complete ul li {
  background-color: #FFFEF0;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  height: auto;
  list-style-type: none;
  line-height: 1.3em;
}
*/

/* Error rules
*   
*  Notes: For all forms
*/
/*
.twoColHybLay .fieldWithErrors {
  margin: 0;
  padding: 0;
  display: inline;
}
.twoColHybLay .fieldWithErrors label { 
  float: left; 
}
.twoColHybLay .fieldWithErrors input, .fieldWithErrors select {
  border: 2px solid red;
}
.twoColHybLay .formLayout10 p {
  clear: both;
  display: block;
}
.twoColHybLay #errorExplanation {
  background-color: #E2E3E4;
  clear: both;
  float: left;
  margin: 1em 0;
}
.twoColHybLay #errorExplanation h2 {
  background-color: #ED1C24;
  color: #FFFFFF;
  font-size: 150%;
  font-weight: bold;
  padding: 0 5px;
}
.twoColHybLay #errorExplanation p {
  font-size: 120%;
  font-weight: bold;
  margin: 5px 0 5px 10px;
}
.twoColHybLay #errorExplanation ul li {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 2px 30px;
}
*/

/* Form rules
*   
*  Notes: For all forms
*/
/*
.twoColHybLay div.formLayout,   .twoColHybLay div.formLayout p, 
.twoColHybLay div.formLayout10, .twoColHybLay div.formLayout10 p,
.twoColHybLay div.formLayout15, .twoColHybLay div.formLayout15 p,
.twoColHybLay div.formLayout20, .twoColHybLay div.formLayout20 p {
  clear: both;
}
.twoColHybLay div.formLayout {
  margin-left: 0px;
}
.twoColHybLay div.formLayout5 {
  margin-left: 5px;
}
.twoColHybLay div.formLayout10 {
  margin-left: 10px;
}
.twoColHybLay div.formLayout15 {
  margin-left: 15px;
}
.twoColHybLay div.formLayout20 {
  margin-left: 20px;
}
.twoColHybLay input, select {
  border: 1px inset #C4D1EB;
}
.twoColHybLay div.formInputx, .twoColHybLay div.formInputNext,
.twoColHybLay div.formInput0 {
  float: left;
  margin: 5px 0 5px 10px;
  position: relative;
}
.twoColHybLay div.formInputx {
  clear: left;
}
.twoColHybLay div.formInput0 {
  clear: left;
  margin-left: 0px;
}
.twoColHybLay div.formInputNext {
  display: inline;
}
.twoColHybLay div.formButton {
  clear: both;
  float: left;
  margin: 15px 0 15px 10px;
}
*/
.twoColHybLay div.formLabel, .twoColHybLay div.formData {
  float: left;
  position: relative;
}
.twoColHybLay div.formLabel {
  clear: left;
  margin-right: .8em;
  text-align: right;
  width: 15em;
}
.twoColHybLay div.formData {
  clear: right:
  overflow: hidden;
  min-width: 10em;
}

  
/* Radio Button */
.twoColHybLay #patient_profile_gender_m, .twoColHybLay #patient_profile_gender_f {
  border: 1px solid #C4D1EB;
}
/* Submit Buttons */
.twoColHybLay #patient_condition_submit, .twoColHybLay #condition_submit, .twoColHybLay #patient_profile_submit,
.twoColHybLay #editransaction_submit, .twoColHybLay #user_submit, .twoColHybLay #user_session_submit, #openId { 
  background-color: #C4D1EB;
  border: 1px outset #C4D1EB;
  color: #262262;
  padding: 0px 1px;
}

/* Label rules
*   
*  Notes: For all views
*/


/* navLink rules
*   
*  Notes: Format for navigation links at bottom of pages
*/
.twoColHybLay copy p a   {
  clear: both;
  float: left;
  margin: 20px 0 0 0;
}

  .twoColHybLay #copy p a         { color: #758AB8; text-decoration: none; }
  .twoColHybLay #copy p a:link    { color: #758AB8; text-decoration: underline; }
  .twoColHybLay #copy p a:visited { color: #758AB8; text-decoration: underline; }
  .twoColHybLay #copy p a:hover   { color: #262262; text-decoration: underline; }
  .twoColHybLay #copy p a:active  { color: #758AB8; }
