<!-- begin edit 'user' -->
<% title "Edit - User Account" %>

<%= render :partial => 'login_form' %>

<p>
  <%= link_to 'Back', @user %> |
  <%= link_to 'Index', users_path %>
</p>
<!-- end of edit 'user' -->
