<!-- begin edit 'user' -->
<div class="labelPageTitle">
    <p>Edit - User Account</p>
</div>

<%= render :partial => 'login_form' %>

<div class="navLink">
  <%= link_to 'Back', @user %> |
  <%= link_to 'Index', users_path %>
</div><!-- end of navLink -->
<!-- end of 'user' -->
