<!-- edit.html.erb -->
<div class="floatLeftLabelPageTitle marginBottom20">
    <p>Edit - User Account</p>
</div>

<%= render :partial => 'login_form' %>

<div class="floatLeft clearBoth indent marginTop20 link">
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div><!-- end of link -->
