<!-- begin edit 'user' -->
<h3 class="labelPageTitle">Edit - User Account</h3>

<%= render :partial => 'login_form' %>

<div class="navLink">
  <%= link_to 'Back', @user %> |
  <%= link_to 'Index', users_path %>
</div><!-- end of navLink -->
<!-- end of 'user' -->
