<!-- new.html.erb -->

<div class="floatLeftLabelPageTitle marginBottom20">
    <p>New - User Account</p>
</div>

<%= render :partial => 'login_form' %>

<div class="floatLeft clearBoth indent marginTop20 link">
  <%= link_to 'Back', users_path %>
  </div>
</div><!-- end of link -->
