<h1>User Account</h1>

<p>
  <b>User Login Name:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Crypted password:</b>
  <%=h @user.crypted_password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
