<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>PROficientMD</title>
  <%= stylesheet_link_tag "emd", :media => "all" %>
</head>

<body id="my_record">
  <div id="banner">
    <%= image_tag("logo-header.png") %>
    <%= @page_title || "My Medical Records" %>
  </div>
</body>

