<!-- shared/_main_menu_bar -->

<div id="menuBar">
  <ul>
    <li>Home</li>
    <li>Patient</li>
    <li>Schedule</li>
    <li>Billing</li>
    <li>Tools</li>
    <li>Help</li>
  </ul>
</div><!-- end of header -->
