<!-- shared/_main_banner -->

<div id="banner">
  <div class="opaque70" id="title">
    <p><%= @page_title || '&lt;Company Name&gt; Medical Records' %></p>
    <div id="logo"><%= image_tag("logo-header.png") %></div>
  </div><!-- end of hTitle -->
</div><!-- end of hBanner -->
