<!-- shared/_main_footer -->

<div id="footer">
  <div id="menu">
	  <ul>
				<li>Home</li>
				<li> | </li>
				<li>Patient</li>
				<li> | </li>
        <li>Schedule</li>
				<li> | </li>
        <li>Billings</li>
				<li> | </li>
        <li>Tools</li>
				<li> | </li>
        <li>Help</li>
  </ul>
  </div>
</div><!-- end of footer -->
</body>
</html>
