<!-- shared/_main_banner -->

<div id="header">
  <div id="logo">
    <div id="logoImage"></div>
  </div>
  <div id="title"><h2>&lt;company name&gt; Medical Records</h2></div>
    <div id="clock">
			<div id="headerClock"></div>
		</div>
</div><!-- end of header -->
