<!-- shared/_main_banner -->

<div id="banner">
  <div class="opaque100" id="title">
    <p><%= @page_title || '&lt;Company Name&gt; Medical Records' %></p>
    <div id="logo"><h3>ProficientMD logo</h3></div>
  </div><!-- end of hTitle -->
</div><!-- end of hBanner -->
