<!-- begin shared/_main_header -->
<div id="hBanner">
  <div class="opaque70" id="hTitle">
    <p><%= @page_title || '&lt;Company Name&gt; Medical Records' %></p>
    <div id="hImage"><%= image_tag("logo-header.png") %></div>
  </div><!-- end of hTitle -->
</div><!-- end of hBanner -->
