<!-- shared/_main_side -->

<div class="opaque70" id="side">
  <h4> Patient Menu: </h4>
    <ul>
      <li><a href="/patient_conditions">Patient Conditions</a></li>
      <li><a href="/conditions">Conditions(ref)</a></li>
      <li><a href="/patient_profiles">Patient Profiles(ref)</a></li>
      <li><a href="/editransactions">EDI transactions</a></li>
      <li><a href="/users">List Users</a></li>
      <li><a href="/audit">Audit Records</a></li>
    </ul>
  <h4> Scott Menu: </h4>
    <ul>
      <li><a href="http://emd.heroku.com/conditions">Heroku</a></li>
      <li><a href="http://scwade.blogdns.com:3000/conditions">Scott (pub)</a></li>
    </ul>
</div>
