<!-- Global Access Denied Message -->
<h1> from access_denied/index why? Our Appologies!</h1>
<%= render :file => File.join(RAILS_ROOT, 'public', '403.html'), :status => 403 %>

<br />

<%= link_to 'back', :back %>



