/* HTML Table styles */
tr:hover {
  background: #ECF0F9;
}
table {
  border-collapse: separate;
}
.X3 { 
  border-spacing: 1em;
  border: inset .1em #FFFEF0;
  background-color: #C4D1EB;
  font-weight: lighter;
}
.X3 tbody th {
  text-decoration: underline;
  font-weight: bolder;
  color: #000;
}
