<%= render :partial => "shared/main" %> 
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Editransactions: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'emd' %>

</head>

